$color: white;
$background-color-body: rgb(33, 47, 60);
$border-color: darkGray;
$cell-size: 10px;
$border-radius: 12px;

body {
  color: $color;
  background-color: $background-color-body;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table {
  margin: 0 auto 20px auto;
  border-collapse: collapse;
}

td {
  width: $cell-size;
  height: $cell-size;
  border: 1px solid $border-color;
  cursor: pointer;
}

.alive {
  background: white;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-rows: 0.3fr 1.7fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    '. title title .'
    'grid grid grid grid'
    'grid grid grid grid'
    '. buttons buttons .'
    '. . . .';
  width: 98.6%;
  height: 98.4%;
}

.grid {
  grid-area: grid;
}

.title {
  grid-area: title;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.6fr 1.4fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    '. . . .'
    'start reset interval iteration'
    '. . . .';
  grid-area: buttons;
}

.start {
  grid-area: start;
  border-radius: $border-radius;
}

.reset {
  grid-area: reset;
  border-radius: $border-radius;
}

.interval {
  grid-area: interval;
}

.iteration {
  grid-area: iteration;
}
